@font-face {
  font-family: "Exo 2";
  src: url("../fonts/Exo_2/Exo2-VariableFont_wght.ttf");
}

@font-face {
    font-family: 'PT sans';
    src: url('../fonts/PT_Sans/PTSans-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'PT sans';
    src: url('../fonts/PT_Sans/PTSans-Bold.ttf');
    font-weight: 700;
}